<h1>Wikiscraper#index</h1>
<p>Find me in app/views/wikiscraper/index.html.erb</p>

<style>
.html-code {
  background-color: gray;
  border: 1px solid black;
}
</style>

<a href="/wikiscraper/iso_3166_1_a2">alpha 2</a>
<a href="/wikiscraper/iso_3166_1_a3">alpha 3</a>
<a href="/wikiscraper/iso_3166_1_n">numeric</a>
<a href="/wikiscraper/iso_3166_2">subdivisions</a>
