<h1>Wikiscraper#index</h1>
<p>Find me in app/views/wikiscraper/index.html.erb</p>

<style>
.html-code pre {
  background-color: gray;
  border: 1px solid black;
}
</style>

<ul>
  <% @subds.each do |subd| %>
    <li><%= subd[1] %>
        <ol>
          <% i = 0 %>
          <% while i < 5 %>
            <li><%# if not cells[i].nil? %><%= subd[i] %><%# end %></li>
            <% i = i + 1 %>
          <% end %>
        </ol>
    </li>
  <% end %>
</ul>

<ul>
  <% @error.each do |err| %>
    <li><%= err %></li>
  <% end %>
</ul>

<!--code class="html-code"><pre><%#= @t3.to_s %></pre></code>

<code class="html-code"><pre><%#= @doc.to_s %></pre></code-->
